@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Playfair+Display&family=Roboto+Slab&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --produto0: #DBC170;
    --produto1: #B8952E;
    --produto2: #846F2E;

    --baseB0:#F5F4F5;
    --baseB1:#B2AFB6;
    --baseB2:#98959D;
    --baseB3:#7A767F;
    --baseB4:#3E3C41;

    --baseP0:#2E2C30;
    --baseP1:#232225;
    --baseP2:#19181A;
    --baseP3:#050505;
}

body {
    background-color: var(--baseP2);
    color: var(--baseB0);
    font-family: Catamaran, sans-serif;
}

input{
    background-color: var(--baseP1);
    color: var(--baseB0);
    padding: 8px;
    border: 1px solid var(--baseB4);
    border-radius: 5px;
    font-size: 1.05em;
    font-family: Catamaran, sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('calendar-blank.svg') no-repeat left;
    background-size: contain;
    cursor: pointer;
    
}


input[type="text"] {
    background: url('user-rectangle.svg') no-repeat left;
    background-size: 1.8em;
    padding-left: 1.9em;
    
}


.container {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    
}

.grid-item {
    background-color: var(--baseP0);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--baseB4);

}

.btn {
    background-color: var(--produto1);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;
    transition-duration: .2s;
    font-family: Catamaran, sans-serif;
    color: #050505;
    font-weight: bolder;
    cursor: pointer;
    
}

.btn:hover {
    border: 2px solid var(--produto0); 

}

@media only screen and (min-width: 501px) and (max-width:1920px) {

    .cont_geral {
        display: flex;
        justify-content: space-between;
        
    }

    #agendamento {
        margin: 15px;
        background-color: var(--baseP1);
        text-align: center;
        border-radius: 15px;
        padding: 25px;
        height: 91vh;
    }

    .selecionar_data {
        color: var(--baseB3);
    }

    .campos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .ca2 {
        grid-row: 2;
    }

    input[type="date"] {
        width: 150px;
        text-indent: .7em;
    }


    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        
    }

    .horarios , .turnos {
        text-align: left;
        text-indent: 35px;
        line-height: 35px;
    }

    .calendario { 
        
        border: 1px solid var(--baseB3);
        border-radius: 10px; 
        margin: auto;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 28em;
        justify-self: center;
        
    }

    .c2, .c3 {
        margin-top: 20px;
    }

    .section { 
        padding: 20px; 
    }

    .s1, .s2, .s3 {
        border-bottom: 1px solid var(--baseB3);
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
    }

    .container_btn {
        margin-top: 350px;
    }

    .btn {
        padding: 20px;
        width: 80%;
    }

    .p1 {
        background: url('sun-horizon.svg') no-repeat left;
        background-size: contain;
        text-indent: 33px;
    }

    .p2 {
        background: url('cloud-sun.svg') no-repeat left;
        background-size: contain;
        text-indent: 33px;
    }

    .p3 {
        background: url('moon-stars.svg') no-repeat left;
        background-size: contain;
        text-indent: 33px;

    }

    .agendados { 
        line-height: 40px;
    }

    .pp {
        background: url('x.svg') no-repeat right;
        background-size: 30px;
        margin-right: 6px;
        
    }

}


@media only screen and (max-width: 500px) {

    h1 {
        text-align: center;
        font-size: 1.8em;
        margin-top: .35em;
    }

    .selecionar_data, .ver_reservas {
        text-align: center;
        font-size: 1em;
        color: var(--baseB2);
    }
    .campos, .data2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3px;
        margin-left: 15px;
        
    }

    input[type="date"] {
        width: 83.8vw;
        text-indent: .7em;
    }


    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        
    }

    input[type="text"] {
        width: 79vw;
    }

    .horarios {
        margin: 1.2em 0px 0px 15px;
        font-size: 1.1em;
    }

    .turnos {
        text-align: center;
        padding: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 22.5em;
        justify-self: center;
        
    }

    .grid-item {
        cursor: pointer;
    }

    .container_btn {
        text-align: center;
        padding: 15px;
        
    }

    .btn {
        width: 85vw;
        
    }

    .data2 {
        margin-bottom: 100px;
    }

    .calendario { 
        width: 80vw; 
        border: 1px solid var(--baseB3);
        border-radius: 10px; 
        margin: auto;
    }

    .c2, .c3 {
        margin-top: 30px;
    }

    .c3 {
        margin-bottom: 30px;
    }

    .section { 
        padding: 20px; 
    }

    .s1, .s2, .s3 {
        border-bottom: 1px solid var(--baseB3);
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
    }

    .p1 {
        background: url('sun-horizon.svg') no-repeat left;
        background-size: contain;
        text-indent: 33px;
    }

    .p2 {
        background: url('cloud-sun.svg') no-repeat left;
        background-size: contain;
        text-indent: 33px;
    }

    .p3 {
        background: url('moon-stars.svg') no-repeat left;
        background-size: contain;
        text-indent: 33px;

    }

    .agendados { 
        line-height: 40px;
    }

    .pp {
        background: url('x.svg') no-repeat right;
        background-size: 30px;
        margin-right: 6px;
        
    }
}

